@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wdth,wght@62.5,243&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/*  
#1E2759 Azul escuro
#3B4FBF Azul yamaha 
#3B79BF Azul claro
#C1CED9 Cinza claro
#A4A698 Cinza Bege
#D9BA82 bege
#59503E Marrom
#26252a Cinza Black
#b1b0b5 Cinza escuro
#d8d8da cinza Claro
*/
*{
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 350;
    margin: 0px;
    padding: 0px;
   
}
header{
    /*background-image: url("Banco\ de\ dados/Yamaha (11).jpg");*/
    background-repeat: no-repeat;
    background-size: 100dvh;
    background-position: center bottom;
    height: 300px;
    
}
nav{
    background-color: #ffffff;
    height: 10%;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #b1b0b5;
     box-shadow: 0px 0px 10px black;
}

#ImageNav{
    height: 200px;
    padding: 20px;
    background-color: black;
    background-image: url(Banco\ de\ dados/FundoDeTela.jpg);
    background-size: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
}

.TopContainer{
    height: 600px;
    margin: 0px;
}

.TopContainer h2{
    margin-bottom: 20px;
}

#Carrosel{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.199);
  background: linear-gradient(
    rgba(0,0,0,0.6),  /* camada transparente */
    rgba(0, 0, 0, 0.712)
  ),
  url('Banco\ de\ dados/Estrada.JPG');  /* imagem de fundo */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  color: white;
  filter: blur();
}

#Carrosel::content{

}



/* Todas as imagens dentro do carrossel */
#Carrosel img {
  width: 300px;
  height: 400px;
  margin: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.199);
  transition: opacity 0.25s, transform 0.25s;
  cursor: pointer;
}

/* Quando o mouse entra no container, todas as imagens ficam apagadas */
#Carrosel:hover img {
  opacity: 0.1;
}

/* Mas a imagem que está em hover volta ao normal */
#Carrosel img:hover {
  opacity: 1;
  transform: scale(1.1);
}

a{
    margin: 10%;
    text-decoration: none;
    color: #26252a;
}
body { 
    background-color: #d8d8da;
    margin: 0px;
}

main{
    margin: 0px 0px;
    padding: 15px;
    background-image:radial-gradient(circle,Black ,#b1b0b5,#d8d8da 10%)
}

#H2Main{
    margin: 10px 0px;
}
#H3Main{
    text-align: justify;
}
img{
    width: 300px;      
    height: auto;      
    border-radius: 10px;
    object-fit: cover; 
}
#DivMain{
    background-color: #d8d8dae0;
    padding: 1%;
    margin: 0px 0px ;
    border: 1px solid  #b1b0b5;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.384);

}

footer{
    background-color: #26252a;
    color: white;
    text-align: center;
    padding: 2%;
}